body{
			margin :0;
			padding :0;
			background-color:#F7FF7F7;
		}
		//音乐
		audio{
		    z-index: 5;
		    position: absolute;
		    bottom: 0;
		    opacity: 0.1;
		    transition: all 2s linear;
		}
		//音乐
		
		audio:hover{
		    opacity: 1;
		}
		
		.box{
			width :400px;
			margin :100px auto;
			animation: rotate 4s linear infinite;
		}
		img {
			width :100%;
			display :block;
		}
		@keyframes rotate {
			0% {
				transform: rotateZ(0deg);
				
			}
			100% {
				transform: rotateZ(-360deg);
			}
		}