body{
	padding:0;
	background-color:#F7F7F7;
}

    audio{
        z-index: 5;
        position: absolute;
        bottom: 0;
        opacity: 0.1;
        transition: all 2s linear;
    }
    
    audio:hover{
        opacity: 1;
    }
div{
	margin:20px;
	float:left;
}
.border-radius{
	width:40px;
	height:40px;
	border:70px solid #93baff ;
	border-radius:90px;
}
.border-radius1{
	width:0px;
	height:0px;
	border-width:90px;;
	border-style:solid;
	border-color:#ff898e #93BAFF #c89386 #ffb151 ;
}

	.border-radius2{
		width:40px;
		height:40px;
		border:70px solid #FF6E9B ;
		transition: 3s;
	}
	.border-radius:hover{
		width:40px;
		height:40px;
		border:70px solid #ff6e9b ;
		border-radius:90px;
	}

